---
import Layout from "../layouts/Layout.astro"
import { Ceremonis } from "../components/Products.astro"
import Cardlauch from '../components/Cardlauch.astro'

---

<Layout title="Remedios prehispanicos">
    <div class="p-3 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {Ceremonis.map((Ceremonis) => <Cardlauch imagePath=`/src/assets/${Ceremonis.product_name}.png` product_obj={Ceremonis} />)}
    </div>
</Layout>