---
import Layout from "../layouts/Layout.astro"
import { Herbs } from "../components/Products.astro"
import Cardproductsm from '../components/Cardproductsm.astro'

---

<Layout title="Remedios prehispanicos">
    <div class="p-3 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {Herbs.map((Herbs) => <Cardproductsm imagePath=`/src/assets/${Herbs.product_name}.png` product_obj={Herbs} />)}
    </div>
</Layout>
