---
import Layout from "../layouts/Layout.astro"
---
<!DOCTYPE html>
<div>
    <a>
        Aviso de Privacidad
        En Arkline, valoramos tu confianza y ponemos a tu disposición remedios herbolarios y rituales prehispánicos. 
        En cumplimiento al deber de resguardo de información y de datos personales y con fundamento en lo dispuesto por los artículos 3 fracción 1, 8, 12, 15 y 16 y demás relativos de la Ley Federal de Protección de Datos Personales en Posesión de particulares, Arkline pone a su disposición el presente Aviso de Privacidad. 
        Recopilamos tus datos personales, con la finalidad, de conocerte y así ofrecerte nuestros servicios.
        DATOS PERSONALES UTILIZADOS:
        Nombre completo;
        Datos de Identificación;
        Declaración de ser mayor de edad; 
        Número de celular;
        Correo electrónico;
        Número de un contacto.
        Además de los datos personales mencionados, utilizaremos los siguientes datos sensibles, que requieren de especial protección:
        Datos sobre enfermedades importantes y/o crónicas;
        Declaración de medicamentos que se estén ingiriendo al momento de recibir el remedio o ritual prehispánico. 
        
        Tus datos se manejarán de manera confidencial y segura ya que no se compartirán con terceros. Los datos serán utilizados exclusivamente para los fines señalados en este Aviso de Privacidad.
    </a>
</div>