---
import Layout from "../layouts/Layout.astro"
---
<!DOCTYPE html>
<Layout title="Terminos y Condiciones.">
    <div class="grid grid-row-2 rounded-lg border shadow-md bg-yellow-400 border-gray-700">
        <div class="flex justify-center p-4">
            <h1>
                Terminos, Condiciones y Datos personales 
            </h1>
        </div>
        <div class="p-4">
            <p>
                1-.**Web creater**: Fue contartado para crear una pagina web para el cliente Alklines Circle.<br>
                2. **Uso del Sitio**<br>
                Administrador: Los Adiministradores puede publicar post, Estos post seran responsabilidad del Administrador que lo publico al 100%, Los administradores se resevan el derecho  la eliminacion o agragar un campo modificando o señalando ciertos puntos del post. Queda extrictamente proivido todo post o ceremonia en el que se decriba o practica una ceremonia que no de luz. Se castigara con el bloqueo de direciones ip, mac, correos, num. de celulares, etc, por un tiempo minimo de 10 años.<br>
                Visitante: El Visitante solo puede buscar infomacion en la pagina o comartir la misma, El visitante no puede modificar la infomacion desplegada en la web Arlin y al usarla como referencia tendra que ser de forma no viral.<br>
                3.-**Derechos de autor:**<br>
                Toda la infomacion desplegada en esta pagina es propiedad de la humanidad.<br>
                <h3 class="text-gray-400"><a href={`/PrivacyNotice/`}>4.-**Aviso de privacidad**</a><br></h3>
                5.-**Manejo de datos**:<br>
                Tus datos se manejarán de manera confidencial y segura ya que no se compartirán con terceros. Los datos serán utilizados exclusivamente para los fines señalados en este Aviso de Privacidad.<br>
                6.-**Contacto con tu medico**<br>
                Alklines Circle es un catalogo de remedios prehispanicos para afeciones fisicas y/o spirituales. Arline Recomienda hablar con tu medico de tratamientos extras que pretendas implementar, Arline no suspnder tu tratamiento medico actual.<br>
                7.-**Ley Aplicable y Jurisdicción**<br>
                Arline radica en los ESTADOS UNIDOS MEXICANOS (MEXICO), esta pagina se rege baso estas lieyes, a continuacion hacemos referencias a puntos clave de la CONSTITUCION DE LOS ESTADOS UNIDOS DE MEXICO.<br>
                * Articulo °4<br>
                * Articulo °5<br>
                * Articulo °6<br>
                * Articulo °123<br>
            </p>
        </div>
    </div>
</Layout>
