---
import Layout from "../layouts/Layout.astro"
---
<!DOCTYPE html>
<Layout title="Terminos y Condiciones">
    <div class="grid grid-rows-2 rounded-lg border shadow-md bg-yellow-400 border-gray-700">
        <div class="flex justify-center">
            <h1>
                Terminos y Condiciones
            </h1>
        </div>
        <div>
            <p>
                Hola mundo
            </p>
        </div>
    </div>
</Layout>
