---
import Layout from "../layouts/Layout.astro"
---
<!DOCTYPE html>
<Layout title="Terminos y Condiciones.">
    <div class="grid grid-row-2 rounded-lg border shadow-md bg-yellow-400 border-gray-700">
        <div class="flex justify-center p-4">
            <h1>
                Terminos y Condiciones 
            </h1>
        </div>
        <div class="p-4">
            <p>
                **Web Creator**: Kukulc4n fue contactado para la creación de una página web para el cliente Alkaline Circle.<br>
                **Uso del Sitio<br>
                Administrador (Alkaline Circle): Los administradores pueden publicar posts. Estos posts serán responsabilidad del administrador al 100%. Los administradores se reservan el derecho a la eliminación, agregar un campo modificando o señalando ciertos puntos del post. Queda estrictamente prohibido todo post o ceremonia oscuras.
                Se castigará con el bloqueo de direcciones IP, MAC, correos, números de celulares, etc., por un tiempo mínimo de 10 años.<br>
                Visitante: El visitante solo puede buscar información en la página o compartir la misma. El visitante no puede modificar la información desplegada en la web Alkaline Circle, Al usarla como referencia tendrá que ser de forma discreta.<br>
                **Derechos de autor**:<br>
                Toda la información desplegada en esta página es propiedad de la humanidad.<br>
                **Manejo de datos**:<br>
                Tus datos se manejarán de manera confidencial y segura, ya que no se compartirán con terceros. Los datos serán utilizados exclusivamente para los fines señalados en este Aviso de Privacidad.<br>
                <h3 class="text-gray-400"><a href={`/PrivacyNotice/`}>**Aviso de privacidad**</a><br></h3>
                **Contacto con tu médico**:<br>
                Alkaline Circle es un catálogo de remedios prehispánicos para afecciones físicas y/o espirituales. Arline recomienda hablar con tu médico sobre tratamientos adicionales que pretendas implementar; Arline no suspenderá tu tratamiento médico actual.<br>
                **Ley Aplicable y Jurisdicción**:<br>
                Alkaline Circle radica en los Estados Unidos Mexicanos (México). Esta página se rige bajo estas leyes. A continuación, hacemos referencia a puntos clave de la Constitución de los Estados Unidos de México.<br>
                Artículo 4<br>
                Artículo 5<br>
                Artículo 6<br>
                Artículo 123<br>
            </p>
        </div>
    </div>
</Layout>
