---
import Cardproductsm from './Cardproductsm.astro'
import { db } from "astro:db"
import { Herbs_db, Ceremonis_db } from 'astro:db'

export const Herbs = await db.select().from(Herbs_db)
export const Ceremonis = await db.select().from(Ceremonis_db)
---

<div class="p-3 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {Herbs.map((Herbs) => <Cardproductsm imagePath=`/src/assets/${Herbs.product_name}.png` product_obj={Herbs} />)}
  {Ceremonis.map((Ceremonis) => <Cardproductsm imagePath=`/src/assets/${Ceremonis.product_name}.png` product_obj={Ceremonis} />)}
</div>

